<!DOCTYPE html>
<html lang="en" <%- html_attribute || '' %>>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= locals.title || 'TradelineRental.com - Boost Your Credit Score Fast' %>
  </title>

  <!--=====FAB ICON=======-->
  <link rel="shortcut icon" href="/img/logo/favicon.png" type="image/x-icon">

  <!--===== CSS LINK =======-->
  <link rel="stylesheet" href="/css/plugins/bootstrap.min.css">
  <link rel="stylesheet" href="/css/plugins/aos.css">
  <link rel="stylesheet" href="/css/plugins/fontawesome.css">
  <link rel="stylesheet" href="/css/plugins/magnific-popup.css">
  <link rel="stylesheet" href="/css/plugins/owlcarousel.min.css">
  <link rel="stylesheet" href="/css/plugins/sidebar.css">
  <link rel="stylesheet" href="/css/plugins/slick-slider.css">
  <link rel="stylesheet" href="/css/plugins/nice-select.css">
  <link rel="stylesheet" href="/css/plugins/swiper-bundle.css">
  <link rel="stylesheet" href="/css/main.css">

  <!--=====  JS SCRIPT LINK =======-->
  <script src="/js/plugins/jquery-3-7-1.min.js"></script>

  <%- extra_css %>
</head>

<body <%- body_attribute || '' %>>

  <!-- Loader -->
  <%- include('./loader') %>

    <!-- Page Content -->
    <%- content %>

      <%- include('./footer') %>

        <!--===== JS SCRIPT LINK =======-->
        <script src="/js/plugins/bootstrap.min.js"></script>
        <script src="/js/plugins/fontawesome.js"></script>
        <script src="/js/plugins/aos.js"></script>
        <script src="/js/plugins/counter.js"></script>
        <script src="/js/plugins/gsap.min.js"></script>
        <script src="/js/plugins/ScrollTrigger.min.js"></script>
        <script src="/js/plugins/Splitetext.js"></script>
        <script src="/js/plugins/SmoothScroll.js"></script>
        <script src="/js/plugins/sidebar.js"></script>
        <script src="/js/plugins/magnific-popup.js"></script>
        <script src="/js/plugins/mobilemenu.js"></script>
        <script src="/js/plugins/owlcarousel.min.js"></script>
        <script src="/js/plugins/nice-select.js"></script>
        <script src="/js/plugins/waypoints.js"></script>
        <script src="/js/plugins/slick-slider.js"></script>
        <script src="/js/plugins/circle-progress.js"></script>
        <script src="/js/plugins/swiper.js"></script>
        <script src="/js/case-studies.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/booking.js"></script>

        <%- locals.extra_javascript || '' %>

          <%- script %>


            <!-- Booking Modal (GoHighLevel Calendar Embed) -->
            <div id="bookingModal" class="booking-modal-overlay">
              <div class="booking-modal-container">
                <button class="booking-modal-close">&times;</button>
                <div class="booking-modal-header">
                  <h3>Schedule Your Free Consultation</h3>
                  <p>Pick a time that works best for you</p>
                </div>
                <div class="booking-modal-body">
                  <iframe src="https://app.creditservicesus.com/widget/booking/yI2nsy6bFTVvmYStBGNI" scrolling="no"
                    id="ghl-booking-iframe">
                  </iframe>
                </div>
              </div>
            </div>

            <!-- Funding Application Modal (MyFundalytics Inline Embed) -->
            <div id="fundingModal" class="booking-modal-overlay">
              <div class="booking-modal-container">
                <button class="funding-modal-close booking-modal-close" onclick="closeFundingModal()">&times;</button>
                <div class="booking-modal-header">
                  <h3>Apply for Funding</h3>
                  <p>Complete the form below to get started</p>
                </div>
                <div class="booking-modal-body" style="padding: 0;">
                  <div id="fundalytics-form" style="width: 100%; min-height: 600px;"></div>
                  <script src="https://myfundalytics.com/embed-widget.js"
                    data-consultant-id="2e1f4e94-6942-4615-b3d2-0afea4ccbcc7" data-mode="inline"
                    data-target="#fundalytics-form">
                    </script>
                </div>
              </div>
            </div>

</body>

</html>