<%- contentFor('html_attribute') %>

  <%- contentFor('body_attribute') %>

    <%- contentFor('extra_css') %>

      <%- contentFor('content') %>
        <%- include('partials/header/navbar3') %>
          <!-- ===== HERO AREA STARTS ======= -->
          <div class="inner-pages-section-area"
            style="background-image: url(/img/all-images/bg/hero-bg1.png); background-position: center; background-repeat: no-repeat; background-size: cover;">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 m-auto">
                  <div class="inner-header text-center">
                    <h2 class="text-anime-style-3">Our Services</h2>
                    <div class="space24"></div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ===== HERO AREA ENDS ======= -->

          <!-- ===== SERVICE AREA STARTS ======= -->
          <div class="service-inner-section-area sp1">
            <div class="container">
              <div class="row">
                <div class="col-lg-4 col-md-6">
                  <div class="service3-single-boxarea">
                    <div class="icons">
                      <img src="/img/icons/service7.svg" alt="" />
                    </div>
                    <div class="space24"></div>
                    <div class="content">
                      <a href="/inventory">Consumer Tradelines</a>
                      <div class="space16"></div>
                      <p>Add high-limit, aged credit card accounts to your credit report to increase your average age of
                        accounts and utilization.</p>
                      <div class="space24"></div>
                      <a href="/inventory" class="readmore">Find Tradelines <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="service3-single-boxarea">
                    <div class="icons">
                      <img src="/img/icons/service8.svg" alt="" />
                    </div>
                    <div class="space24"></div>
                    <div class="content">
                      <a href="/inventory">Business Tradelines</a>
                      <div class="space16"></div>
                      <p>Build your corporate credit profile with business-specific tradelines that report to major
                        commercial credit bureaus.</p>
                      <div class="space24"></div>
                      <a href="/inventory" class="readmore">Build Business Credit <i
                          class="fa-solid fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="service3-single-boxarea">
                    <div class="icons">
                      <img src="/img/icons/service9.svg" alt="" />
                    </div>
                    <div class="space24"></div>
                    <div class="content">
                      <a href="/broker">Broker Partner Program</a>
                      <div class="space16"></div>
                      <p>Earn high commissions by offering our premium tradeline inventory to your own clients. Keep
                        100% of your markup!</p>
                      <div class="space24"></div>
                      <a href="/broker" class="readmore">Become a Broker <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="service3-single-boxarea">
                    <div class="icons">
                      <img src="/img/icons/service10.svg" alt="" />
                    </div>
                    <div class="space24"></div>
                    <div class="content">
                      <a href="/contact">Credit Consultation</a>
                      <div class="space16"></div>
                      <p>Speak with our experts to determine exactly which tradelines will have the most impact on your
                        specific credit profile.</p>
                      <div class="space24"></div>
                      <a href="/contact" class="readmore">Book a Call <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="service3-single-boxarea">
                    <div class="icons">
                      <img src="/img/icons/service11.svg" alt="" />
                    </div>
                    <div class="space24"></div>
                    <div class="content">
                      <a href="/inventory">Bulk Orders</a>
                      <div class="space16"></div>
                      <p>Get discounted pricing when purchasing multiple tradelines at once. Perfect for rapid,
                        high-impact score jumps.</p>
                      <div class="space24"></div>
                      <a href="/inventory" class="readmore">View Bulk Deals <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="service3-single-boxarea">
                    <div class="icons">
                      <img src="/img/icons/service12.svg" alt="" />
                    </div>
                    <div class="space24"></div>
                    <div class="content">
                      <a href="/portal/login">Client Dashboard</a>
                      <div class="space16"></div>
                      <p>Manage your orders, track posting dates, and upload required documents securely in our
                        streamlined client portal.</p>
                      <div class="space24"></div>
                      <a href="/portal/login" class="readmore">Access Portal <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ===== SERVICE AREA ENDS ======= -->
          <%- contentFor('extra_javascript') %>